<?xml version="1.0"?>
<launch>
	<!-- including the launch file with a navigation world -->
	<include file="$(find ebot_description)/launch/nav_test.launch" />
	<!-- including launch file for localization using AMCL -->
	<include file="$(find ebot_nav)/launch/amcl.launch" />
	<!-- including launch file for visualizing in rviz -->
	<include file="$(find ebot_description)/launch/ebot_visualize.launch" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100" /> -->
	<!-- Move base -->
	<!-- <arg name="base_global_planner" default="navfn/NavfnROS" /> -->
	<!-- <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS" /> -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find ebot_nav)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find ebot_nav)/config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find ebot_nav)/config/trajectory_planner.yaml" command="load" />
		<param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0" />
		<param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0" />
	</node>
</launch>
